<!DOCTYPE html>
<html>
<body>

<h2>Donor Form</h2>

<form action='/signup' method="post">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br>
  Age:<br>
  <input type="text" name="age" value="">
  <br>
  Gender:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Female: 
  <input type="radio" name="gender" value="">
            Male: 
  <input type="radio" name="gender" value="">
            Other: 
  <input type="radio" name="gender" value="">
  <br>
  Contact:<br>
  <input type="text" name="contact" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>