<!DOCTYPE html>
<html lang="en">
<head>
	<title>FAQs</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color:tomato";>
	
	<div class="limiter">
		<div class="container-login100" style="background-color: tomato;">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						<h1 style="color:black; align:center"><u>FAQs</u></h1><br>
						<h4 style="color:black; align:center;">The Benefits of Donating Blood</h4>
						<p style="text align:center;">There’s no end to the benefits of donating blood for those who need it.

It turns out that donating blood doesn’t just benefit recipients. There are health benefits for donors, too, on top of the benefits that come from helping others. Read on to learn the health benefits of donating blood and the reasons behind them.</p>
                        
                        <p style="text-align:center;">Donating blood has benefits for your emotional and physical health. According to a report by the Mental Health Foundation, helping others can:</p>
                        
                        <p style="text-align:center;">Reduce stress.Improve your emotional well-being.Benefit your physical health.Help get rid of negative feelings.Provide a sense of belonging and reduce isolation.Research has found further evidence of the health benefits that come specifically from donating blood.</p>
                        <h4 style="color:black; align:center;">Side effects of donating blood</h4>
                         <p style="text-align:center;">Blood donation is safe for healthy adults. There’s no risk of contracting disease. New, sterile equipment is used for each donor.

Some people may feel nauseous, lightheaded, or dizzy after donating blood. If this happens, it should only last a few minutes. You can lie down with your feet up at the until you feel better.

You may also experience some bleeding at the site of the needle. Applying pressure and raising your arm for a couple of minutes will usually stop this. You may develop a bruise at the site.</p>

                        <h4 style="color:black; align:center;">During the donation</h4>
                         <p style="text-align:center;">You must register to donate blood. This includes providing identification, your medical history, and undergoing a quick physical examination. You’ll also be given some information about blood donation to read.

Once you’re ready, your blood donation procedure will begin. Whole blood donation is the most common type of donation. This is because it offers the most flexibility. It can be transfused as whole blood or separated into red cells, platelets, and plasma for different recipients.

For a whole blood donation procedure:</p>

                        <p style="text-align:center;">You’ll be seated in a reclining chair. You can donate blood either sitting or lying down.A small area of your arm will be cleaned. A sterile needle will then be inserted.You’ll remain seated or lying down while a pint of your blood is drawn. This takes 8 to 10 minutes.When a pint of blood has been collected, a staff member will remove the needle and bandage your arm.</p>
                        
                        <h4 style="color:black; align:center;">What to know before you donate?</h4>
                        <p style="text-align:center;">You need to be 17 or older to donate whole blood. Some states allow you to donate at 16 with parental consent.You have to weigh at least 110 pounds and be in good health to donate.You need to provide information about medical conditions and any medications you’re taking. These may affect your eligibility to donate blood.                        You must wait at least eight weeks between whole blood donations and 16 weeks between double red cell donations.Drink an extra 16 ounces of water before your appointment.Wear a short-sleeved shirt or a shirt with sleeves that are easy to roll up.Let the staff know if you have a preferred arm or vein and if you prefer to sit up or lie down. Listening to music, reading, or talking to someone else can help you relax during the donation process.</p>
                        <br>
<img style="-webkit-user-select: none;" src="https://www.ahchealthenews.com/wp-content/uploads/2015/01/Do%e2%80%99s-and-don%e2%80%99ts-of-blood-donation.jpg" class="center" >
<br>
<h6 style="color:tomato; align:center;"><br><br><a href="/">Go back to home page</a>


                        
					</span>
                
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>